$fa-font-path:                "fonts/fontawesome/fontawesome-free-5.8.2-web" !default;

$body_bg:           #f6f6f6;
$black_bg:          #1c1e23;
$white:             #ffffff;
$brnad_color:       #f1bb00;
$footer-link:       #727272;